html{
	background-color: #000000;
}

.botoes{
	display: flex;
	justify-content: space-around;
	font-size: 3rem;
	padding: 1rem;


}
.startbutton{
	font-size: 1.5rem;
}

.stopbutton{
	font-size: 1.5rem;
}

.clearbutton{
	font-size: 1.5rem;
}
.header{
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	font-size: 4rem;
}

.tempo{
	font-size: 3rem;
	color:#FFFFFF;
	display: flex;
	justify-content: center;
	padding:7rem;
}

.mais{
	font-size:3rem;
}

iframe {
    background-color: #FFFFFF;
}

.funcoes{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom:0;
}

.funcao_content{
	font-size: 6rem;
}

.texto{
	font-size: 2rem;
	display: flex;
	justify-content: center;
	color: #ffffff;
}
